.right-footer {
  /* float: right; */
  position: absolute;
  bottom: 5px;
  right: 10px;

}
.left-footer{
  /* float:left ; */
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.left-header{
/* float:left ; */
position: absolute;
top: 5px;
left: 10px;
} 
.right-header {
/* float: right; */
position: absolute;
top: 0px;
right: 10px;
} 
.bilgi{
padding: 3px;
font-size: 15px;
text-decoration: none;
}
#country{
left: 10px;
}
#SingIn{
font-weight: 600;
color:white;
background: rgb(38, 120, 228);
border-radius: 3px;
border: none;
width: 65px;
}
#app{
position: relative;
vertical-align: -9px;
opacity: 0.6;

}
body{

width: auto;
height: auto;
padding: 20px;
text-align: justify;
background-color: white;
font-family: Arial, Helvetica, sans-serif;
}
#glass{
block-size: 27px;
vertical-align: -10px;
border-radius: 20px;
margin-left: 7px;
}

#microphone{
block-size: 22px;
vertical-align: -7px;
margin-right: 7px;
}

#searchbox{
border-style: none;
outline-style: none;
width: 450px;
height: 15px;
margin-left: 3px;
margin-right: 3px;

font-size: 15px;
}

.searchdiv{
border-style: solid;
border-radius: 25px;
border-color: black;
border-width: 0.5px;

width: 540px;
}

.center{

width: auto;
height: auto;

/* background-color: rgb(104, 20, 24); */
position: relative;    
}

#main-logo{
width: auto;
height: auto;
padding: 20px;
padding-top: 109px;
/* background-color: skyblue; */
position: relative;
margin: auto;
}
#searchbutton{
margin-right: 20px;
}